/jpa_training/jpa_training_flavioj/dist/
/jpa_training/jpa_training_flavioj/build/
/jpa_training/jpa_training_flavioj/nbproject/private/
/Project2-console/nbproject/private/
/Project2-console/build/
/Project2-console/dist/
/ejb_training/ejb/EnterpriseApplication2-ejb/nbproject/private/
/ejb_training/ejb/EnterpriseApplication2-ejb/build/
/ejb_training/ejb/EnterpriseApplication2-ejb/dist/
/ejb_training/ShopBasketClient/nbproject/private/
/ejb_training/ShopBasketClient/build/
/ejb_training/ShopBasketClient/dist/
/ejb_training/SqRt/nbproject/private/
/ejb_training/SqRt/build/
/ejb_training/SqRt/dist/
/ebj_training/Project2/nbproject/private/
/ebj_training/Project2/Project2-war/nbproject/private/
/ebj_training/Project2/Project2-ejb/nbproject/private/
/Project2/nbproject/private/
/Project2/build/
/Project2/dist/
/Project2/Project2-ejb/nbproject/private/
/Project2/Project2-ejb/build/
/Project2/Project2-ejb/dist/
/Project2/Project2-war/nbproject/private/
/Project2/Project2-war/build/
/Project2/Project2-war/dist/
/Project2/Project2-jpa/nbproject/private/
/Project2/Project2-jpa/build/
/Project2/Project2-jpa/dist/
/Project2/Project2-ejb-lib/nbproject/private/
/Project2/Project2-ejb-lib/dist/
/Project2/Project2-ejb-lib/build/