/jpa_training/jpa_training_flavioj/dist/
/jpa_training/jpa_training_flavioj/build/
/jpa_training/jpa_training_flavioj/nbproject/private/
/JPAProject2/nbproject/private/
/JPAProject2/build/
/JPAProject2/dist/
/ejb_training/ejb/EnterpriseApplication2-ejb/nbproject/private/
/ejb_training/ShopBasketClient/nbproject/private/
/ejb_training/SqRt/nbproject/private/